@tailwind base;
@tailwind components;
@tailwind utilities;

.h-calc {
  height: calc(100vh - 60px);
}

.accordion{
padding-left: 12px;
}

.accordion-item {
  color: rgb(101, 100, 100);
  border: none;
  padding: 4px 0;
}

.accordion-header {
  
}

.accordion-button{
  color: rgb(101, 100, 100);
  border-radius: 0 !important;
  padding: 6px 0;
  
}

.accordion-button::after{
  background-size: 14px;
  background-position: center;
}

.accordion-button:not(.collapsed) {
  color: rgb(101, 100, 100);
  /* color: var(--bs-accordion-active-color); */
  background-color: #fff !important;
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-body {
padding: 0 0 0 8px ;
margin: 0 0 0 30px ;
border-left: 1px solid rgb(209, 209, 209);
}